<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   area.plist
   hangge_1169

   Created by hangge on 16/6/29.
   Copyright (c) 2016年 hangge. All rights reserved.
-->
<plist version="1.0">
    <array>
        <dict>
            <key>items</key>
            <array>
                <string>system.cpu.intr</string>
                <string>system.cpu.load[percpu,avg1]</string>
                <string>system.cpu.load[percpu,avg15]</string>
                <string>system.cpu.load[percpu,avg5]</string>
                <string>system.cpu.switches</string>
                <string>system.cpu.util[,idle]</string>
                <string>system.cpu.util[,interrupt]</string>
                <string>system.cpu.util[,iowait]</string>
                <string>system.cpu.util[,nice]</string>
                <string>system.cpu.util[,softirq]</string>
                <string>system.cpu.util[,steal]</string>
                <string>system.cpu.util[,system]</string>
                <string>system.cpu.util[,user]</string>
            </array>
            <key>class</key>
            <string>CPU</string>
        </dict>
        <dict>
            <key>items</key>
            <array>
                <string>net.if.in[ens160]</string>
                <string>net.if.out[ens160]</string>
            </array>
            <key>class</key>
            <string>NETWORK</string>
        </dict>
        <dict>
            <key>items</key>
            <array>
                <string>vm.memory.size[available]</string>
                <string>vm.memory.size[total]</string>
            </array>
            <key>class</key>
            <string>MEMORY</string>
        </dict>
        <dict>
            <key>items</key>
            <array>
                <string>system.swap.size[,free]</string>
                <string>system.swap.size[,pfree]</string>
                <string>system.swap.size[,total]</string>
                <string>vfs.fs.size[/,pfree]</string>
                <string>vfs.fs.size[/,total]</string>
                <string>vfs.fs.size[/,used]</string>
                <string>vfs.fs.size[/boot,free]</string>
                <string>vfs.fs.size[/boot,pfree]</string>
                <string>vfs.fs.size[/boot,total]</string>
                <string>vfs.fs.size[/boot,used]</string>
                <string>vfs.fs.size[/var/lib/docker/aufs,pfree]</string>
                <string>vfs.fs.size[/var/lib/docker/aufs,total]</string>
                <string>vfs.fs.size[/var/lib/docker/aufs,used]</string>
                <string>vfs.fs.size[/var/lib/kubelet,free]</string>
                <string>vfs.fs.size[/var/lib/kubelet,pfree]</string>
                <string>vfs.fs.size[/var/lib/kubelet,total]</string>
                <string>vfs.fs.size[/var/lib/kubelet,used]</string>
                <string>vfs.fs.size[/var/lib/rancher/volumes,free]</string>
                <string>vfs.fs.size[/var/lib/rancher/volumes,pfree]</string>
                <string>vfs.fs.size[/var/lib/rancher/volumes,total]</string>
                <string>vfs.fs.size[/var/lib/rancher/volumes,used]</string>
            </array>
            <key>class</key>
            <string>DISK</string>
        </dict>
        <dict>
            <key>items</key>
            <array>
                <string>vfs.fs.inode[/,pfree]</string>
                <string>vfs.fs.inode[/boot,pfree]</string>
                <string>vfs.fs.inode[/var/lib/docker/aufs,pfree]</string>
                <string>vfs.fs.inode[/var/lib/kubelet,pfree]</string>
                <string>vfs.fs.inode[/var/lib/rancher/volumes,pfree]</string>
            </array>
            <key>class</key>
            <string>INODE</string>
        </dict>
        <dict>
            <key>items</key>
            <array>
                <string>proc.num[]</string>
                <string>proc.num[,,run]</string>
            </array>
            <key>class</key>
            <string>PROCESS</string>
        </dict>
    </array>
</plist>
